<div class="container">
  <h2>歴史</h2>
  <p>南風の歴史について説明</p>
  <div class="row intro__content">
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
    <div class="col-6">
      <h3>2008年</h3>
      <p>テーマ</p>
      <p>詳細</p>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <h3>2009年</h3>
    </div>
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
    <div class="col-6">
      <h3>2010年</h3>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <h3>2011年</h3>
    </div>
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
    <div class="col-6">
      <h3>2012年</h3>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <h3>2013年</h3>
    </div>
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
    <div class="col-6">
      <h3>2014年</h3>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <h3>2015年</h3>
    </div>
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
    <div class="col-6">
      <h3>2016年</h3><br>
      <p>テーマ</p>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <h3>2017年</h3>
    </div>
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
    <div class="col-6">
      <h3>2018年</h3>
    </div>
  </div>

  <div class="row intro__content">
    <div class="col-6">
      <h3>2019年</h3>
    </div>
    <div class="col-6">
      <%= image_tag "comming_soon.png" %>
    </div>
  </div>
</div>