<!DOCTYPE html>
<html>

<head>
  <title>南風第二章</title>
  <% if content_for?(:html_description) %>
  <meta name="description" content="<%= yield(:html_description) %>">
  <% end %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="main">
    <div class="main__head">
      <div class="container">
        <header>
          <div class="logo">
            <a href="/"><%= image_tag "home_logo.png" %></a>
          </div>
          <nav>
            <% if user_signed_in? %>
            <ul>
              <div class="btn btn-success whitecor-link">
                <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
              </div>
              <div class="btn btn-secondary whitecor-link">
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              </div>
            </ul>
            <% else %>
            <ul>
              <div class="btn btn-outline-primary bluecor-link">
                <li><%= link_to 'サインアップ', new_user_registration_path %></li>
              </div>
              <div class="btn btn-primary whitecor-link">
                <li><%= link_to 'ログイン', new_user_session_path %></li>
              </div>
            </ul>


            <% end %>
          </nav>
          <div class="navi">
            　　<ul>
              　　　　<li><a href="/">ホーム</a></li>
              　　　　<li><a href="/histories">南風の歴史</a></li>
              　　　　<li><a href="/members">メンバー</a></li>
              　　　　<li><a href="#">活動内容</a></li>
              　　　　<li><a href="#">お問い合わせ</a></li>
            </ul>
          </div>
        </header>
      </div>
    </div>

    <div class="p__body">
      <%= yield %>
    </div>
    
    <footer>
      <p>©️ Paikaji 2nd Project All Rights Reserved.</p>
    </footer>
  </div>
</body>

<%
=begin%>
<strong><%= link_to current_user.username, pages_show_path %></strong>
<%
=end%>

<%
=begin%>
<% if notice != "" %>
<p class="notice"><%= notice %></p>
<% elsif alert != "" %>
<p class="alert"><%= alert %></p>
<% end %>
<%
=end%>


</html>